{% extends 'index-base.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Register In Motiversity</p>
        </div>

        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                
              </div>
              
              

            </div>
            
              

            </div>
          </div>
          <button type="submit" class="btnSubmit">Register</button>
          <div class="text-center">Already have an account? <a href="stafflogin">Login here</a></div>
        </div>
      </div>
    </div>

  </form>

  
</body>


</html>
{% endblock %}