<nav class="navbar">
  <!-- LOGO -->
  <div class="logo">
    <a class="navbar-brand" style="color:white;" href="/motivation">Motivation</a>
  </div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
  <!-- USING CHECKBOX HACK -->
  <input type="checkbox" id="checkbox_toggle" />
  <label for="checkbox_toggle" class="hamburger">&#9776;</label>
  <!-- NAVIGATION MENUS -->
  <div class="menu">
    <li class="nav-item "
    style="color: white;" >{{currentUser.username}}
 </li>
 <li class="nav-item">
  <a class="nav-link "href="profile" style="color: white;">Profile</a>
</li>
<li class="nav-item">
  <a class="nav-link " href="wishlist" style="color: white;">WishList</a></li>
  <li class="nav-item">
    <a class="nav-link " (click)="isLogout()" style="color: white;">Logout</a></li>
  </div>
  </ul>
  </nav>
