.container-fluid{
    background-image: url('/assets/motivation.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    background-attachment: fixed;
     background-position: top-center;
 }

 h1{
   font-size: 60px;
   color: #11284B;
 }


 .btn1{
   background-color: #11284B;
   color: white;
   border-radius: 50px;
   left: 30px;
   top: 200px;
   position: absolute;
 }
