.container-fluid{
    background-image: url('/assets/motivation.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    background-attachment: fixed;
     background-position: top-center;
 }
 