 <main class="form-signin">
  <a class="btn btn1" routerLink='/' >Back</a><br><br>
    <form>
      <h1 class="h3 mb-3 fw-normal">Register</h1>
      <input type="text" class="form-control mt-3"  placeholder="username" required>
      <input type="email" class="form-control mt-3"  placeholder="Email" required>

        <input type="password" class="form-control mt-3" placeholder="Password" required>

      <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">login</button>

    </form>
    <strong>You don't have and account,<a class="nav-link " routerLink='/login' aria-current="page" href="#">Register</a></strong>
  </main>
