 <main class="form-signin">
    <form>
      <h1 class="h3 mb-3 fw-normal">Register</h1>
      <input type="text" class="form-control mt-3"  placeholder="username" required>
      <input type="email" class="form-control mt-3"  placeholder="Email" required>
      
        <input type="password" class="form-control mt-3" placeholder="Password" required>
        <br>
        <p>Already have an account ? <a href="/login">login</a></p>
       <button class="w-100 btn btn-lg btn-info mt-3" type="submit">sign up</button>
    
    </form>
  </main>