<<<<<<< HEAD
.form-signin{
    margin:10px;
    border: 1px solid #11284B ;
    box-shadow: 5px 5px 15px #11284B;
    padding: 20px;
    float: left;
    font-size: 20px;
      }
 
=======
.btn1
{
  color: white;
  background-color: black;
}
>>>>>>> 0d4574b040d51f9f956251b5b9f1463ef3ab2229
