

<main id='admin'>

    <!-- Nav section -->
    <section id="top-row">
  
      <app-navbar></app-navbar>
    </section>
    <section id="bar">
      <div class="row">
          <div class="col-md-3">        
            <div class="side-bar">
              <div class="dashbord">
                <div class="students">
                </div>
                <h5 style="color: white;" (click)='get_admin()' pt=4 class='text-center '><i class="fas fa-home"></i> Dashboard</h5>
              </div>
              <div class="row-cats">
                <div class="students">
                  <h6 id='students' (click)='get_users()'> <i class="fas fa-user-friends"></i> Students</h6>
                </div>
                <div class="students">
                  <h6 (click)='get_posts()'> <i class="fas fa-plus"></i> Posts</h6>
                </div>
                <div class="students">
                  <h6 (click)='get_categories()'> <i class="fas fa-tag"></i> Categories</h6>
                </div><br>
                <button type="button" class=" add-post-btn btn d-flex btn-outline-success" data-bs-toggle="modal" data-bs-target="#post">
                    Add Post
                  </button>
              </div>
            </div>
          </div>
        
  
  
        <!-- statatistics -->
  
  
        <div class="col-md-9">
          <div class="dash-body " id='dashboard-body'>
  
            <!-- Category statistics -->
  
            <div class="cats">
              <div (click)='get_posts()' class="posts text-center pt-3">
                <div class="content">
                  <h3><i class="fas fa-images"></i> Posts</h3>
                  <h3 class='text-center'>{{posts.length}}</h3>
                </div>
              </div>
  
              <!-- Users statistics -->
  
              <div (click)='get_users()' class="users">
                <div class="content text-center pt-3">
                  <h3><i class="fas fa-users"></i>Users</h3>
                  <h3 class='text-center'>{{users.length}}</h3>
                </div>
              </div>
  
              <!-- Category statistics -->
  
              <div (click)='get_categories()' class="categories text-center pt-3">
                <div class="content">
                  <h3><i class="fas fa-user-tag"></i>Categories</h3>
                  <h3 class='text-center'>{{categories.length}}</h3>
                </div>
              </div>
            </div>
  
            
              </div>
            </div>
  
          <div id="dashbord-student">
            <div class="user" *ngFor = 'let user of users' >
              <!-- loop users -->
               <hr>
              <small>{{user.username}}</small><br>
              <small>{{user.email}}</small>
              <div *ngIf = 'user.is_superuser; else elseBlock'>
                <small class = "admin">Admin</small>
              </div>
              <ng-template #elseBlock>
                <div>
                  <small class = "admin">Student</small>
                </div>
              </ng-template>
              <div class="active" *ngIf = '!user.is_active'>
                <small class="deactive">User Deactivated</small>
              </div>
            </div>
          </div>
          <!-- All categories details -->
          <div id="dashbord-categories">
            <div class="top">
              <div class="cat-head">
                <h4>Categories</h4>
                <!-- Category form modal button -->
                <button type="button" class="btn d-flex btn-outline-success" data-bs-toggle="modal"
                  data-bs-target="#post">
                  Add
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="post" tabindex="-1" aria-labelledby="postLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Post</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="post-form">
                          <!-- form -->
                        <form #postForm="ngForm" novalidate (ngSubmit) = "onSubmit()">
                          <div class="form-group">
                            <label for="title">Name</label>
                            <input type="text" id="title" name="title" class="form-control" [(ngModel)]= "categoryModel.category_name">
                          </div>
                          <button type="submit" class='custom cat-button btn btn-lg btn-outline-success'>Save</button>
                        </form>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Loop categories -->
            <div class="filtered-cats" *ngFor='let category of categories'>
              <div class="title">
                <h3>{{category.category_name}}</h3>
              </div>
            </div>
          </div>
          <!-- All posts -->
          <div id="dashbord-posts">
            <!-- Loop posts -->
            <div class="posts" *ngFor='let post of posts; let i = index'>
              <div class="post">
                <div class="image-moti">
                  <video controls class='motimage' src="http://127.0.0.1:8000/api{{post.video}}" alt="">
                  </video>
                </div>
                <div class="image-description">
                  <h6>{{post.title}}</h6>
                  <small>{{post.article}}</small>
                  <!-- View comments modal -->
                  <div class="comments">
                    <a (click)='getReview(post.id)' class="view-comment" href="" data-bs-toggle="modal"
                      data-bs-target="#viewComment">
                      View Comments
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="viewComment" tabindex="-1" aria-labelledby="viewCommentLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body" *ngIf="reviews else elseBlock">
                            <!-- loop all comments -->
                            <div class="comments" *ngFor='let review of reviews; let i = index'>
                              <p [class.active] = 'active'> {{review.review}}</p>
                              <div class="roles">
                                <i (click) = 'flagReview()' class="fas fa-flag"></i>
                                <p class = 'flagged' [hidden] = 'hidden'>This comment has been flagged by the admin!!</p>
                                <div>
                                  <i (click) = 'deleteComment(i)' class="fas fa-trash"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                          <ng-template #elseBlock>
                            <p>No comments at the moment</p>
                          </ng-template>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- delete icon -->
                  </div>
                  <div (click)='deletePost(i)' class="delete">
                    <i class="fas fa-trash"></i>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
          <!-- Admins -->
          <div id="dashbord-admins">
          </div>
        </div>
    </section>
  </main>
