<section id="nav">
  <app-navbar></app-navbar>
</section>
<app-landing></app-landing>

<div class="row" id="main" >
<div class="col-md-3" *ngFor="let post of posts">

  <div class="card mb-3">
    <div *ngIf="post.image == null && post.video == null ">
      <img src="assets/post.jpg" class="card-img-top" alt="" height="300">
    </div>
    <div *ngIf="post.image">
      <img src="https://res.cloudinary.com/barbie254/{{post.image}}" class="card-img-top vid-link" alt="..." height="300">

    </div>
    <div *ngIf="post?.video" class="video-icon">
      <div class="col-md-8">
        <img src="assets/vid-icon.png" class="card-img-top" alt="Video" (click)='goToUrl(post.id)' height="300">

      </div>
    </div>
    <div class="card-body ">
      <h5 class="card-title">Title:{{post.title}}</h5>
      <p class="card-text">Category:{{post.category.category_name}}</p>
      <p class="card-text small">{{post.article| words : 10}}</p>

      <p class="card-text"><small class="">published by {{post.profile.user}}</small></p>
      <p class="card-text"><small class="">{{post.pub_at|date}}</small></p>
    </div>
    <div class="card-footer">
      <div class="icons d-flex">
        <div class="wishlist">
          <button class=" view-details btn "  (click)="addWishlist(post.id)" >Add to wishlist
            <i class="fas fa-save " ></i>
          </button>
        </div>
       

        

      </div>
      <div class="details">
          <button (click)='goToUrl(post.id)' class=" view-details btn btn-info">View Details</button>

      </div>

    </div>

</div>
</div>


</div>