
    <section id="nav">
      <app-navbar></app-navbar>
    </section>
<div class="row" >
    <div class="col-md-3 mt-4" *ngFor="let post of posts">
  
      <div class="card mb-3">
        <div *ngIf="post.image == null && post.video == null ">
        </div>
        <div *ngIf="post?.video" class="video-icon">
          <div class="col-md-8">
            <img src="assets/vid-icon.png" class="card-img-top" alt="Video" (click)='goToUrl(post.id)' height="300">
  
          </div>
        </div>
        <div class="card-body ">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">Category:{{post.category.category_name}}</p>
          <p class="card-text small">{{post.description| words : 6}}</p>
  
          <p class="card-text"><small class="">published by {{post.profile.user}}</small></p>
          <p class="card-text"><small class="">{{post.created_at|date}}</small></p>
        </div>
        <div class="card-footer">
          <div class="icons d-flex">
            <div class="wishlist">
              <span class="wishlisttext">Add to wishlist</span>
              <form action="">
                <i class="fas fa-save "(click)="addWishlist(post.id)"  ></i>
  
              </form>
  
            </div>
           
  
            
  
          </div>
          <div class="details">
              <button (click)='goToUrl(post.id)' class=" view-details btn btn-info">View Details</button>
  
          </div>
  
        </div>
  
    </div>
    </div>
  
  
  </div>
