


  <div class="container-fluid login">
    <h1>Login</h1>
    <div class="row">
      <div class="col-md-5 login-form">
  
        <form action="" class="form"  #loginForm="ngForm" [formGroup]="signinForm" (ngSubmit)="loginUser()">
          <div class="form-item">
            <label for="username">username</label>
            <input formControlName="username"  type="text"  class="input" placeholder="Username" required="required">
          </div>
  
          <div class="form-item">
  
            <label for="password">password</label>
            <input formControlName="password"  type="password" class="input" placeholder="Password" required="required">
  
          </div>
  
  
          
            <button  type="submit" class="btn btn-success  signin-btn">Login</button>
          
        <p>Dont have an account?</p>
        <a routerLink='/register'><button type="submit" class="btn btn-info  signup-btn">
            Sign-up
            </button>
          </a>
        
  
      
  
  
  
